<div>
  <%- include("patials/header.ejs") %>
  <section class="result_dashboard">
    <h1>Result Dashboard</h1>
    <div class="container" id="reg_voter_total_voters_flex_container">
  <!-- Registered Voters Card -->
<div class="card bg-body-tertiary flex-row align-items-center" id="reg_voters">
  <i class="fa-solid fa-pencil me-3"></i>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title mb-1">Registered Voters</h5>
    <p class="card-text mb-0">Total number of registered voters</p>
  </div>

  <span class="fs-4 ms-3"><% if(locals.total_reg_voters){%>
    <%= total_reg_voters %>
  <%} else{%>
    0
 <% } %> </span>
</div>


      <!-- Total Votes Card -->
      <div class="card bg-body-tertiary flex-row align-items-center" id="total_voters">
        <i class="fa-solid fa-scale-unbalanced-flip"></i>
        <div class="card-body">
          <h5 class="card-title">Total Votes</h5>
          <p class="card-text">Total number of votes</p>
        </div>
        <span>
          <% if(locals.total_vote){%>
            <%= total_vote %>
          <%} else{%>
            0
         <% } %> 
        </span>
      </div>
    </div>

    <div id="section2">
      <h1>Chairman</h1>
     
        <div class="container d-flex justify-content-center gap-5 flex-wrap">
          <% candidate_info.forEach(can_info => {%>
          <!-- Card 1 -->
          <div class="card" style="width: 25rem;" id="card">
            <img src="/<%= can_info.photo %>" alt="Man" id="presidents_image">
            
            <div class="card-body">
              <h2 class="card-title"><%= can_info.first_name %> <%= can_info.middle_name %> <%= can_info.last_name %></h2>
              <h5>Position: <%= can_info.position %></h5>
              <h5>Party: <strong><%= can_info.party_name %></strong></h5>
              <h4>Vote Count: <strong><%= can_info.votes %></strong></h4>
            
              <!-- Calculate percentage in server-side code and format it for display -->
              <% 
    let percentage = (can_info.votes / total_reg_voters) * 100; 
    let roundedPercentage = Math.round(percentage); // Rounding to the nearest whole number
%>

              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= roundedPercentage %>%;" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100" id="progress_bar">
                  <%= roundedPercentage %>%
                </div>
              </div>
            </div>
            
          </div>
          <%}); %>
        </div>
     
    
    </div>
  </section>
</main>
  <%- include("patials/footer") %>
</div>

  
