<div>
  <%- include("patials/header.ejs") %>
  <section class="result_dashboard">
    <h1>Result Dashboard</h1>
    <div class="container" id="reg_voter_total_voters_flex_container">
  <!-- Registered Voters Card -->
<div class="card bg-body-tertiary flex-row align-items-center" id="reg_voters">
  <i class="fa-solid fa-pencil me-3"></i>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title mb-1">Registered Voters</h5>
    <p class="card-text mb-0">Total number of registered voters</p>
  </div>

  <span class="fs-4 ms-3"><% if(locals.voters){%>
    <%= voters.length %>
  <%} else{%>
    0
 <% } %> </span>
</div>


      <!-- Total Votes Card -->
      <div class="card bg-body-tertiary flex-row align-items-center" id="total_voters">
        <i class="fa-solid fa-scale-unbalanced-flip"></i>
        <div class="card-body">
          <h5 class="card-title">Total Votes</h5>
          <p class="card-text">Total number of votes</p>
        </div>
        <span>
          <% if(locals.totalVotes){%>
            <%= totalVotes.length %>
          <%} else{%>
            0
         <% } %> 
        </span>
      </div>
    </div>

    <div id="section2">
      <h1>Chairman</h1>

      <div class="container d-flex justify-content-between">
        <!-- Card 1 -->
        <div class="card" style="width: 13rem;">
          <img src="<%= data[0].president_image %>" alt="<%= data[0].president_name %>">
          <div class="card-body">
            <h5 class="card-title"><%= data[0].president_name %></h5>
            <h4 style="color: blue"><%= data[0].abbreviation %></h4>
            <div class="progress" role="progressbar" aria-label="<%= data[0].president_name %> Progress" aria-valuenow="<%= data[0].progress %>" aria-valuemin="0" aria-valuemax="100">
              
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card" style="width: 13rem;">
          <i class="fa-solid fa-circle-user"></i>
          <div class="card-body">
            <h5 class="card-title">John Brown</h5>
            <div class="progress" role="progressbar" aria-label="John Brown Progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-warning" style="width: 25%">25%</div>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card" style="width: 13rem;">
          <i class="fa-solid fa-circle-user"></i>
          <div class="card-body">
            <h5 class="card-title">John Brown</h5>
            <div class="progress" role="progressbar" aria-label="John Brown Progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: 25%">25%</div>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="card" style="width: 13rem;">
          <i class="fa-solid fa-circle-user"></i>
          <div class="card-body">
            <h5 class="card-title">John Brown</h5>
            <div class="progress" role="progressbar" aria-label="John Brown Progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-danger" style="width: 25%">25%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
  <%- include("patials/footer") %>
</div>

  
